<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicaciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
           <div class="d-flex col-4 justify-content-around">
            <a href="/pagina1" class="btn btn-primary">Volver</a>
    <div class="btn-group btn-group-justified-sm">
        <a href="/inisesion" class="btn btn-info">Cerrar Sesión {{user.first_name}}</a>
    </div>
        </div>

    </nav>
    <h1 class="text-decoration-none">Bienvenido a tu Página {{user.first_name}} {{user.last_name}}!!!</h1>
    <div class="">
     <p><h3 >Estas son las publicaciones de {{user.first_name}}!!!</h3>
        </p>
    </div>
    <div class="card-body">
    {% for posteo in posteo %}
        {{posteo.posteo}}   
    {% endfor %}
    </div>
</body>
</html>